/DisplayAutomation2.0/    gunaseelan.mathavadoss@intel.com  chandrakanth.pabolu@intel.com soorya.r@intel.com arun.kumar.v@intel.com greeshma.vk@intel.com ashish3.kumar@intel.com

/DisplayAutomation2.0/Libs/    chandrakanth.pabolu@intel.com gunaseelan.mathavadoss@intel.com  chandrakanth.pabolu@intel.com soorya.r@intel.com arun.kumar.v@intel.com  ashish.ashok.tripathi@intel.com akshaya.nair@intel.com

/DisplayAutomation2.0/DisplayRegs/    chandrakanth.pabolu@intel.com

/DisplayAutomation2.0/Libs/Feature/display_powerwell/    veena.veluru@intel.com gunaseelan.mathavadoss@intel.com

/DisplayAutomation2.0/Tests/Color/    anjali.n.shetty@intel.com prateek.joshi@intel.com 

/DisplayAutomation2.0/Tests/Color/Features/ELP/   ashish.ashok.tripathi@intel.com tulika@intel.com

/DisplayAutomation2.0/Tests/Display_Config/      goutham.n@intel.com gunaseelan.mathavadoss@intel.com

/DisplayAutomation2.0/Tests/Display_Port/    veena.veluru@intel.com goutham.n@intel.com praburaj.krishnan@intel.com gunaseelan.mathavadoss@intel.com

/DisplayAutomation2.0/Tests/Hdmi/    chandrakanth.pabolu@intel.com gopi.krishna.kunchanapalli@intel.com gunaseelan.mathavadoss@intel.com

/DisplayAutomation2.0/Dod/    nainesh.p.doriwala@intel.com

/DisplayAutomation2.0/Tests/DSB/    anjali.n.shetty@intel.com prateek.joshi@intel.com  soorya.r@intel.com

/DisplayAutomation2.0/Tests/EDP/    tulika@intel.com ashish.ashok.tripathi@intel.com chandrakanthreddy.y@intel.com

/DisplayAutomation2.0/Tests/Flips/    anjali.n.shetty@intel.com prateek.joshi@intel.com  soorya.r@intel.com

/DisplayAutomation2.0/Tests/Install_Uninstall2/    anjali.n.shetty@intel.com prateek.joshi@intel.com  soorya.r@intel.com

/DisplayAutomation2.0/Tests/LFP_Common/    tulika@intel.com ashish.ashok.tripathi@intel.com chandrakanthreddy.y@intel.com

/DisplayAutomation2.0/Tests/MPO/    anjali.n.shetty@intel.com prateek.joshi@intel.com  soorya.r@intel.com

/DisplayAutomation2.0/Tests/Planes/    anjali.n.shetty@intel.com prateek.joshi@intel.com  soorya.r@intel.com

/DisplayAutomation2.0/Tests/PnP/    anjali.n.shetty@intel.com prateek.joshi@intel.com 

/DisplayAutomation2.0/Tests/Power/    ashish.ashok.tripathi@intel.com chandrakanthreddy.y@intel.com tulika@intel.com gunaseelan.mathavadoss@intel.com 

/DisplayAutomation2.0/Tests/PowerCons/    ashish.ashok.tripathi@intel.com chandrakanthreddy.y@intel.com tulika@intel.com akshaya.nair@intel.com gunaseelan.mathavadoss@intel.com 

/DisplayAutomation2.0/Tests/PowerCons/Functional/LRR    nainesh.p.doriwala@intel.com nivetha.b@intel.com soorya.r@intel.com

/DisplayAutomation2.0/Tests/PowerCons/Functional/DRRS   nainesh.p.doriwala@intel.com nivetha.b@intel.com soorya.r@intel.com

/DisplayAutomation2.0/Tests/PowerCons/Functional/DMRRS  nainesh.p.doriwala@intel.com nivetha.b@intel.com soorya.r@intel.com

/DisplayAutomation2.0/Tests/TDR/    anjali.n.shetty@intel.com prateek.joshi@intel.com 

/DisplayAutomation2.0/Tests/ULT/    chandrakanth.pabolu@intel.com akshaya.nair@intel.com

/DisplayAutomation2.0/Tests/VDSC/   praburaj.krishnan@intel.com gunaseelan.mathavadoss@intel.com

/DisplayAutomation2.0/Tests/VirtualDisplay/    anjali.n.shetty@intel.com prateek.joshi@intel.com 

/DisplayAutomation2.0/Tests/VRR/    nainesh.p.doriwala@intel.com ashish.ashok.tripathi@intel.com chandrakanthreddy.y@intel.com nivetha.b@intel.com soorya.r@intel.com

/DisplayAutomation2.0/Tests/Watermark_DBuf/    anjali.n.shetty@intel.com prateek.joshi@intel.com 

/DisplayAutomation2.0/Tests/Writeback/    anjali.n.shetty@intel.com prateek.joshi@intel.com  soorya.r@intel.com

/DisplayAutomation2.0/TestStore/PanelInputData/    tulika@intel.com chandrakanthreddy.y@intel.com ashish.ashok.tripathi@intel.com gunaseelan.mathavadoss@intel.com 

/DisplayAutomation2.0/TestUtilities/    anjali.n.shetty@intel.com prateek.joshi@intel.com

/DisplayAutomation2.0/Tests/Audio/    nivetha.b@intel.com

/DisplayAutomation2.0/Tests/DDI_Responsiveness/    nivetha.b@intel.com 
