<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="applicationSettings" type="Intel.VPG.Display.Automation.ApplicationSettings, Intel.VPG.Display.Automation.ConstantsLibrary"/>
  </configSections>
  
  <applicationSettings
    DefaultNamespace="Intel.VPG.Display.Automation."
    ReportLogLevel="5"
    DefaultTestName="Automation_Test"
    EnableCaching="true"
    RebootFlgTimespanInDays="1"
    ProdDriverPath="C:\Driver\Gfxinstaller"
    CustomDriverPath="{0}SHAREDBINARY\929355959\Sec_Gfx_Dvr"    
    DisplayToolsPath="{0}SHAREDBINARY\920697932"
    ARCSoftSerialKey="SZZ3R9-RDVATDB2D7-NE8DNSG9"    
    WDTFPath="{0}SHAREDBINARY\920211824"
    MPOClipPath="{0}SHAREDBINARY\925242101\MPO_Media"
    WIDiAppPath="{0}SHAREDBINARY\920211824"
    ULTDumpFiles="{0}SHAREDBINARY\926864574"
    SmartFrameApp="{0}SHAREDBINARY\927706474"
    AlternatePAVEProdDriverPath="{0}GfxProdDriver"
    SwitchableGraphicsDriverPath="{0}SHAREDBINARY\922182820"
    GoldenCRCPath="{0}SHAREDBINARY\935144209"
    DirectX="{0}SHAREDBINARY\920697932\DXSDK_Jun10.exe"
    HDMIGoldenImage="{0}SHAREDBINARY\924061944\HDMIimages8.1"
    DataPartitionRef="Partition4"
    AlternateLogFile ="true"
    UIAutomationPath ="WindowsAutomationUI"
    UseSDKType="Old"
    UseULTFramework="false"
    UseDivaFramework="false"
    UseSHEFramework="false"
    CheckCorruption="false"
    />

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>
</configuration>
