/DisplayAutomation2.0/TestStore/*
!/DisplayAutomation2.0/TestStore/PanelInputData/
/INT_COMMON_CUI_9_0_Display/Source/CoreLibrary/Assemblies/
/DisplayPowerCons/ExternalDependencies/
/INT_COMMON_CUI_9_0_Display/Source/CuiCaptureTool/Features/DVMU/Ref/
/DisplayAutomation2.0/Build/packages/

*.pyc
/DisplayAutomation2.0/Src/x64/
/DisplayAutomation2.0/Output/
/DisplayAutomation2.0/Src/AudioCodec/CodecAudio/x64/
/DisplayAutomation2.0/Src/CommonLogger/x64/
/DisplayAutomation2.0/Src/ControlAPI/x64/
/DisplayAutomation2.0/Src/CuiSdk/x64/
/DisplayAutomation2.0/Src/DisplayAudioCodec/DisplayAudioCodec/x64/
/DisplayAutomation2.0/Src/DisplayColor/DisplayColor/DisplayColor.exp
/DisplayAutomation2.0/Src/DisplayColor/DisplayColor/DisplayColor.lib
/DisplayAutomation2.0/Src/DisplayColor/DisplayColor/x64/
/DisplayAutomation2.0/Src/DisplayConfigN/DisplayConfigN/x64/
/DisplayAutomation2.0/Src/DisplayPort/x64/
/DisplayAutomation2.0/Src/DriverEscape/x64/
/DisplayAutomation2.0/Src/GfxValSimulator/GfxValSimDriver/CommonInclude/IntelGfxValSimCrimson.h
/DisplayAutomation2.0/Src/GfxValSimulator/GfxValSimDriver/Resources/IntelGfxValSimCrimson.rc
/DisplayAutomation2.0/Src/GfxValSimulator/GfxValSimDriver/Resources/IntelGfxValSimCrimsonTEMP.BIN
/DisplayAutomation2.0/Src/GfxValSimulator/GfxValSimDriver/Resources/IntelGfxValSimCrimson_MSG00001.bin
/DisplayAutomation2.0/Src/GfxValSimulator/GfxValSimDriver/x64/
/DisplayAutomation2.0/Src/GfxValSimulator/GfxValSimLibrary/x64/
/DisplayAutomation2.0/Src/Logger/DisplayAutomationTestCrimson.h
/DisplayAutomation2.0/Src/Logger/DisplayAutomationTestCrimson.rc
/DisplayAutomation2.0/Src/Logger/DisplayAutomationTestCrimsonTEMP.BIN
/DisplayAutomation2.0/Src/Logger/DisplayAutomationTestCrimson_MSG00001.bin
/DisplayAutomation2.0/Src/Logger/x64/
/DisplayAutomation2.0/Src/OsInterfaces/OsInterfaces/x64/
/DisplayAutomation2.0/Src/PowerConsEscapes/PowerConsEscapes/Release/
/DisplayAutomation2.0/Src/SensorUtil/x64/
/DisplayAutomation2.0/Src/SHEUtility/SHEUtility/x64/
/DisplayAutomation2.0/Src/SystemUtilityN/SystemUtilityN/x64/
/DisplayAutomation2.0/Src/Tools/ForceVSyncTDR/ForceVSyncTDR/x64/
/DisplayAutomation2.0/Src/Tools/VBIEnable/VBIEnable/x64/
/DisplayAutomation2.0/Src/WritebackUtility/WritebackUtility/WritebackUtility.exp
/DisplayAutomation2.0/Src/WritebackUtility/WritebackUtility/WritebackUtility.lib
/DisplayAutomation2.0/Src/WritebackUtility/WritebackUtility/x64/
/DisplayAutomation2.0/bin/
/DisplayAutomation2.0/Src/.vs/
/DisplayAutomation2.0/Src/EtlParser/obj/
/DisplayAutomation2.0/Src/GfxValSimulator/GfxValSimTestApp/x64/
/DisplayAutomation2.0/Src/MPO/MPO/MPO.exp
/DisplayAutomation2.0/Src/MPO/MPO/MPO.lib
/DisplayAutomation2.0/Src/MPO/MPO/x64/
/DisplayAutomation2.0/Src/packages/

/DisplayAutomation2.0/Src/AudioCodec/CodecAudio/Debug/
/DisplayAutomation2.0/Src/CommonLogger/Debug/
/DisplayAutomation2.0/Src/DisplayColor/DisplayColor/Debug/
/DisplayAutomation2.0/Src/DisplayConfigN/DisplayConfigN/Debug/
/DisplayAutomation2.0/Src/DisplayPort/Debug/
/DisplayAutomation2.0/Src/DisplayPort/DisplayPort.vcxproj.user
/DisplayAutomation2.0/Src/EtlParser/obj/
/DisplayAutomation2.0/Src/GfxValSimulator/GfxValSimDriver/Debug/
/DisplayAutomation2.0/Src/GfxValSimulator/GfxValSimLibrary/Debug/
/DisplayAutomation2.0/Src/GfxValSimulator/GfxValSimTestApp/Debug/
/DisplayAutomation2.0/Src/MPO/MPO/Debug/
/DisplayAutomation2.0/Src/MPO/MPO/MPO.vcxproj.user
/DisplayAutomation2.0/Src/PowerConsEscapes/PowerConsEscapes/Debug/
/DisplayAutomation2.0/Src/SHEUtility/SHEUtility/Debug/
/DisplayAutomation2.0/Src/SystemUtilityN/SystemUtilityN/Debug/
/DisplayAutomation2.0/Src/Tools/ForceVSyncTDR/ForceVSyncTDR/Debug/
/DisplayAutomation2.0/Src/WritebackUtility/WritebackUtility/Debug/
/LLVM/


/INT_COMMON_CUI_9_0_Display/.vs/
/INT_COMMON_CUI_9_0_Display/Source/AccessUi/bin/
/INT_COMMON_CUI_9_0_Display/Source/CUI_3D/bin/
/INT_COMMON_CUI_9_0_Display/Source/CUI_Advanced_HDMI/obj/
/INT_COMMON_CUI_9_0_Display/Source/CUI_Audio/obj/
/INT_COMMON_CUI_9_0_Display/Source/CUI_Color/bin/
/INT_COMMON_CUI_9_0_Display/Source/CUI_DisplaySwitching/CUI_DisSwitch/bin/
/INT_COMMON_CUI_9_0_Display/Source/CUI_Display_Color/CUIDisplayColor_XvYcc/bin/
/INT_COMMON_CUI_9_0_Display/Source/CUI_Display_Color/CUIDisplayColor_XvYccDisplaySwitch/bin/
/INT_COMMON_CUI_9_0_Display/Source/CUI_Display_Color/CUI_Display_Color/obj/
/INT_COMMON_CUI_9_0_Display/Source/CUI_HotKeys/bin/
/INT_COMMON_CUI_9_0_Display/Source/CUI_IgfxSDK/obj/
/INT_COMMON_CUI_9_0_Display/Source/CUI_Launch/bin/
/INT_COMMON_CUI_9_0_Display/Source/CUI_Modes/bin/
/INT_COMMON_CUI_9_0_Display/Source/CUI_Options_Support/bin/
/INT_COMMON_CUI_9_0_Display/Source/CUI_Power/CUIPower_ADB/bin/
/INT_COMMON_CUI_9_0_Display/Source/CUI_Power/CUIPower_ADB_ApplyCancel/bin/
/INT_COMMON_CUI_9_0_Display/Source/CUI_Power/CUIPower_DFPS/bin/
/INT_COMMON_CUI_9_0_Display/Source/CUI_Power/CUIPower_DPST/obj/
/INT_COMMON_CUI_9_0_Display/Source/CUI_Power/CUIPower_DRRS/bin/
/INT_COMMON_CUI_9_0_Display/Source/CUI_Power/CUIPower_PSR/bin/
/INT_COMMON_CUI_9_0_Display/Source/CUI_Power/CUIPower_PowerFeatures_Apply/bin/
/INT_COMMON_CUI_9_0_Display/Source/CUI_Power/CUIPower_PowerPlans/bin/
/INT_COMMON_CUI_9_0_Display/Source/CUI_Profiles/bin/
/INT_COMMON_CUI_9_0_Display/Source/CUI_SDK/obj/
/INT_COMMON_CUI_9_0_Display/Source/CUI_Scaling/CUI_Scaling_Options/obj/
/INT_COMMON_CUI_9_0_Display/Source/CUI_TextCut/bin/
/INT_COMMON_CUI_9_0_Display/Source/CUI_Video/obj/
/INT_COMMON_CUI_9_0_Display/Source/ConstantsLibrary/bin/
/INT_COMMON_CUI_9_0_Display/Source/CuiCaptureTool/bin/
/INT_COMMON_CUI_9_0_Display/Source/DeviceSimulation/bin/
/INT_COMMON_CUI_9_0_Display/Source/Logger/bin/
/INT_COMMON_CUI_9_0_Display/Source/RunTest/obj/
/INT_COMMON_CUI_9_0_Display/Source/Utilities/bin/
/INT_COMMON_CUI_9_0_Display/Source/AccessUi/obj/
/INT_COMMON_CUI_9_0_Display/Source/Auto_2_0_Wrapper/x64/
/INT_COMMON_CUI_9_0_Display/Source/CUI_3D/obj/
/INT_COMMON_CUI_9_0_Display/Source/CUI_Color/obj/
/INT_COMMON_CUI_9_0_Display/Source/CUI_DisplaySwitching/CUI_DisSwitch/obj/
/INT_COMMON_CUI_9_0_Display/Source/CUI_Display_Color/CUIDisplayColor_XvYcc/obj/
/INT_COMMON_CUI_9_0_Display/Source/CUI_Display_Color/CUIDisplayColor_XvYccDisplaySwitch/obj/
/INT_COMMON_CUI_9_0_Display/Source/CUI_HotKeys/obj/
/INT_COMMON_CUI_9_0_Display/Source/CUI_Launch/obj/
/INT_COMMON_CUI_9_0_Display/Source/CUI_Modes/obj/
/INT_COMMON_CUI_9_0_Display/Source/CUI_Options_Support/obj/
/INT_COMMON_CUI_9_0_Display/Source/CUI_Power/CUIPower_ADB/obj/
/INT_COMMON_CUI_9_0_Display/Source/CUI_Power/CUIPower_ADB_ApplyCancel/obj/
/INT_COMMON_CUI_9_0_Display/Source/CUI_Power/CUIPower_DFPS/obj/
/INT_COMMON_CUI_9_0_Display/Source/CUI_Power/CUIPower_DRRS/obj/
/INT_COMMON_CUI_9_0_Display/Source/CUI_Power/CUIPower_PSR/obj/
/INT_COMMON_CUI_9_0_Display/Source/CUI_Power/CUIPower_PowerFeatures_Apply/obj/
/INT_COMMON_CUI_9_0_Display/Source/CUI_Power/CUIPower_PowerPlans/obj/
/INT_COMMON_CUI_9_0_Display/Source/CUI_Profiles/obj/
/INT_COMMON_CUI_9_0_Display/Source/CUI_TextCut/obj/
/INT_COMMON_CUI_9_0_Display/Source/ConstantsLibrary/obj/
/INT_COMMON_CUI_9_0_Display/Source/CoreLibrary/obj/
/INT_COMMON_CUI_9_0_Display/Source/CuiCaptureTool/obj/
/INT_COMMON_CUI_9_0_Display/Source/DeviceSimulation/obj/
/INT_COMMON_CUI_9_0_Display/Source/Logger/obj/
/INT_COMMON_CUI_9_0_Display/Source/Utilities/obj/
/INT_COMMON_CUI_9_0_Display/bin/
